#clear {
  margin: 7px 110px 0 8px;
  padding-left: 14px;
  width: 75px;
  font-weight: 700;
  background-color: #e53935;
  color: #f5f5f5;
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
  overflow: hidden;
}

#undo {
  margin: 7px 8px 0 8px;
  width: 75px;
  font-weight: 700;
  background-color: #e53935;
  color: #f5f5f5;
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
  overflow: hidden;
}

#undo:after, #clear:after {
    content: "";
    background: #ef5350;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.3s
}

#undo:active:after, #clear:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

#clear:hover, #undo:hover {
  background-color: #d32f2f;
}

#equals {
  margin: 4px 1px 1px;
  width: 268px;
  font-weight: 900;
  background-color: #43a047;
  color: #f5f5f5;
}

#equals:after{
    content: "";
    background: #4caf50;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.3s
}

#equals:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

#equals:hover {
  background-color: #388e3c;
}

#blank {
  margin: 1px 2px 2px;
  background-color: #f5f5f5;
  color: #f5f5f5;
  border: none;
  cursor: default;
}

.numops {
  margin: 1px 2px 2px;
  background-color: #1976d2;
  color: #f5f5f5;
  font-weight: 900;
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
  overflow: hidden;
}

.numops:after {
    content: "";
    background: #337ab7;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.3s
}

.numops:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.numops:hover {
  background-color: #1565c0;
}
